In [1]:
import os
import pandas as pd
import pandas_ta as ta
# import numpy as np

#### Handle GBPUSD data

In [2]:
def handle_file(filepath: str = None) -> pd.DataFrame:
    colnames = ['Time', 'open', 'high', 'low', 'close', 'volume']
    cwd = os.getcwd()
    df = pd.read_csv(os.path.join(cwd, filepath),
                     names=colnames, sep="\\t", engine="python",
                     skipfooter=1, index_col=0)
    df.index = pd.to_datetime(df.index)
    # df['hour'] = df.index.hour
    # df['minute'] = df.index.minute
    # df.index = df.index.date
    return df

In [3]:
df = handle_file("GBPUSD1440.csv")
df_1 = df.copy()
df_2 = df.copy()

In [4]:
df.ta.indicators()

Pandas TA - Technical Analysis Indicators - v0.3.14b0
Total Indicators & Utilities: 205
Abbreviations:
    aberration, above, above_value, accbands, ad, adosc, adx, alma, amat, ao, aobv, apo, aroon, atr, bbands, below, below_value, bias, bop, brar, cci, cdl_pattern, cdl_z, cfo, cg, chop, cksp, cmf, cmo, coppock, cross, cross_value, cti, decay, decreasing, dema, dm, donchian, dpo, ebsw, efi, ema, entropy, eom, er, eri, fisher, fwma, ha, hilo, hl2, hlc3, hma, hwc, hwma, ichimoku, increasing, inertia, jma, kama, kc, kdj, kst, kurtosis, kvo, linreg, log_return, long_run, macd, mad, massi, mcgd, median, mfi, midpoint, midprice, mom, natr, nvi, obv, ohlc4, pdist, percent_return, pgo, ppo, psar, psl, pvi, pvo, pvol, pvr, pvt, pwma, qqe, qstick, quantile, rma, roc, rsi, rsx, rvgi, rvi, short_run, sinwma, skew, slope, sma, smi, squeeze, squeeze_pro, ssf, stc, stdev, stoch, stochrsi, supertrend, swma, t3, td_seq, tema, thermo, tos_stdevall, trima, trix, true_range, tsi, tsignals, ttm_trend, ui, uo, variance, vhf, vidya, vortex, vp, vwap, vwma, wcp, willr, wma, xsignals, zlma, zscore

Candle Patterns:
    2crows, 3blackcrows, 3inside, 3linestrike, 3outside, 3starsinsouth, 3whitesoldiers, abandonedbaby, advanceblock, belthold, breakaway, closingmarubozu, concealbabyswall, counterattack, darkcloudcover, doji, dojistar, dragonflydoji, engulfing, eveningdojistar, eveningstar, gapsidesidewhite, gravestonedoji, hammer, hangingman, harami, haramicross, highwave, hikkake, hikkakemod, homingpigeon, identical3crows, inneck, inside, invertedhammer, kicking, kickingbylength, ladderbottom, longleggeddoji, longline, marubozu, matchinglow, mathold, morningdojistar, morningstar, onneck, piercing, rickshawman, risefall3methods, separatinglines, shootingstar, shortline, spinningtop, stalledpattern, sticksandwich, takuri, tasukigap, thrusting, tristar, unique3river, upsidegap2crows, xsidegap3methods

In [5]:
# help(ta.below_value)
help(ta.above)

Help on function above in module pandas_ta.utils._signals:

above(series_a: pandas.core.series.Series, series_b: pandas.core.series.Series, asint: bool = True, offset: int = None, **kwargs)

In [6]:
# df['adj_close'] = df['close']

In [7]:
df['sma10'] = df.ta.sma(length=10)
df['sma20'] = df.ta.sma(length=20)
df['ema5'] = df.ta.ema(length=5)
df['ema15'] = df.ta.ema(length=15)

df['is_bull'] = ta.above(df['close'], df['open'])

df['a_sma10'] = ta.above(df['close'], df['sma10'])
df['a_sma20'] = ta.above(df['close'], df['sma20'])
df['a_ema5'] = ta.above(df['close'], df['ema5'])
df['a_ema15'] = ta.above(df['close'], df['ema15'])

df.tail(20)

,open,high,low,close,volume,sma10,sma20,ema5,ema15,is_bull,a_sma10,a_sma20,a_ema5,a_ema15
Time,,,,,,,,,,,,,,
2023-01-18,1.22909,1.24355,1.22903,1.23273,212007,1.220776,1.212049,1.225753,1.218182,1,1,1,1,1
2023-01-19,1.23272,1.23977,1.23126,1.23662,164499,1.222970,1.213721,1.229375,1.220487,1,1,1,1,1
2023-01-20,1.23665,1.24040,1.23350,1.23942,100149,1.225208,1.215559,1.232723,1.222853,1,1,1,1,1
2023-01-22,1.24006,1.24476,1.23971,1.24167,45771,1.227757,1.217420,1.235706,1.225206,1,1,1,1,1
2023-01-23,1.24167,1.24311,1.23231,1.24022,116681,1.230328,1.218964,1.237210,1.227082,0,1,1,1,1
2023-01-24,1.24021,1.24134,1.22628,1.23291,144841,1.231615,1.220256,1.235777,1.227811,0,1,1,0,1
2023-01-25,1.23290,1.24179,1.22828,1.24015,131855,1.233400,1.221950,1.237235,1.229353,1,1,1,1,1
2023-01-26,1.24014,1.24302,1.23441,1.23688,132657,1.234670,1.223865,1.237116,1.230294,0,1,1,0,1
2023-01-27,1.23688,1.23993,1.23450,1.23960,88889,1.236919,1.225730,1.237944,1.231457,1,1,1,1,1
2023-01-29,1.23882,1.24053,1.23760,1.23920,44204,1.237940,1.228159,1.238363,1.232425,1,1,1,1,1
2023-01-30,1.23920,1.24173,1.23306,1.23457,114876,1.238124,1.229450,1.237099,1.232693,0,0,1,0,1
2023-01-31,1.23457,1.23622,1.22838,1.23221,135052,1.237683,1.230327,1.235469,1.232633,0,0,1,0,0
2023-02-01,1.23220,1.24010,1.22719,1.23837,222702,1.237578,1.231393,1.236436,1.233350,1,1,1,1,1
2023-02-02,1.23836,1.23961,1.22016,1.22208,193125,1.235619,1.231688,1.231651,1.231941,0,0,0,0,0
2023-02-03,1.22207,1.22651,1.20471,1.20531,168678,1.232128,1.231228,1.222870,1.228612,0,0,0,0,0
2023-02-05,1.20330,1.20685,1.20301,1.20632,43564,1.229469,1.230542,1.217354,1.225826,1,0,0,0,0
2023-02-06,1.20631,1.20771,1.20051,1.20422,150075,1.225876,1.229638,1.212976,1.223125,0,0,0,0,0
2023-02-07,1.20419,1.20948,1.19608,1.20462,262552,1.222650,1.228660,1.210191,1.220812,1,0,0,0,0
2023-02-08,1.20463,1.21092,1.20379,1.20979,141168,1.219669,1.228294,1.210057,1.219434,1,0,0,0,0
2023-02-09,1.20980,1.21936,1.20857,1.21046,155485,1.216795,1.227368,1.210191,1.218312,1,0,0,1,0

In [8]:
def return_df(
        df: pd.DataFrame = None,
        len: int = 5,
        cum: bool = True,
) -> pd.DataFrame:
    import pandas_ta as ta

    # with the day before
    df['log_ret'] = ta.log_return(df['close'])*100
    df['log_ret_5'] = ta.log_return(df['close'], length=len)*100          # with a 5 day shift

    # df['log_ret_20'] = ta.log_return(df['close'], length=20)*100          # with a 20 day shift, for test
    # df['a_log5cum'] = ta.above(df['log_ret_5'], df['log_ret_20'])

    df['log_retcum'] = ta.log_return(df['close'], cumulative=cum)*100  # with a pivot
    df['a_log5'] = ta.above(df['log_ret'], df['log_ret_5'])
    df['a_log5cum'] = ta.above(df['log_ret_5'], df['log_retcum'])


    # df['pct_ret'] = ta.percent_return(df['close'])*100
    # df['pct_ret_5'] = ta.percent_return(df['close'], length=len)*100          # with a 5 day shift
    # df['pct_retcum'] = ta.percent_return(df['close'], cumulative=cum)*100

    # df['a_ret5cum'] = ta.above(df['pct_ret_5'], df['pct_retcum'])

    df['is_bull'] = ta.above(df['close'], df['open'])

    df.dropna(inplace=True)

    return df

In [9]:
df_1 = df_1[-240:]          # yearly
# df_1 = df_1[-120:]          # 6 months
# df_1 = df_1[-60:]          # 3 months
# df_1 = df_1[-20:]          # 1 months
# df_1 = df_1[-10:]          # 2 weeks
# df_1 = df_1[-5:]          # 1 weeks

In [10]:
df_1 = return_df(df_1)
df_1.tail(20)

,open,high,low,close,volume,log_ret,log_ret_5,log_retcum,a_log5,a_log5cum,is_bull
Time,,,,,,,,,,,
2023-01-18,1.22909,1.24355,1.22903,1.23273,212007,0.303853,1.034758,-0.091624,0,1,1
2023-01-19,1.23272,1.23977,1.23126,1.23662,164499,0.315063,1.164752,0.223438,0,1,1
2023-01-20,1.23665,1.24040,1.23350,1.23942,100149,0.226168,1.237230,0.449606,0,1,1
2023-01-22,1.24006,1.24476,1.23971,1.24167,45771,0.181372,1.997805,0.630978,0,1,1
2023-01-23,1.24167,1.24311,1.23231,1.24022,116681,-0.116846,0.909609,0.514132,0,1,0
2023-01-24,1.24021,1.24134,1.22628,1.23291,144841,-0.591155,0.014601,-0.077024,0,1,0
2023-01-25,1.23290,1.24179,1.22828,1.24015,131855,0.585511,0.285049,0.508487,1,0,1
2023-01-26,1.24014,1.24302,1.23441,1.23688,132657,-0.264026,-0.205145,0.244461,0,0,0
2023-01-27,1.23688,1.23993,1.23450,1.23960,88889,0.219667,-0.166850,0.464128,1,0,1
2023-01-29,1.23882,1.24053,1.23760,1.23920,44204,-0.032274,-0.082277,0.431854,1,0,1
2023-01-30,1.23920,1.24173,1.23306,1.23457,114876,-0.374328,0.134550,0.057526,0,1,0
2023-01-31,1.23457,1.23622,1.22838,1.23221,135052,-0.191343,-0.642303,-0.133816,1,0,0
2023-02-01,1.23220,1.24010,1.22719,1.23837,222702,0.498669,0.120392,0.364853,1,0,1
2023-02-02,1.23836,1.23961,1.22016,1.22208,193125,-1.324167,-1.423442,-0.959314,1,0,0
2023-02-03,1.22207,1.22651,1.20471,1.20531,168678,-1.381753,-2.772921,-2.341067,1,0,0
2023-02-05,1.20330,1.20685,1.20301,1.20632,43564,0.083761,-2.314833,-2.257306,1,0,1
2023-02-06,1.20631,1.20771,1.20051,1.20422,150075,-0.174235,-2.297725,-2.431541,1,1,0
2023-02-07,1.20419,1.20948,1.19608,1.20462,262552,0.033211,-2.763183,-2.398330,1,0,1
2023-02-08,1.20463,1.21092,1.20379,1.20979,141168,0.428263,-1.010753,-1.970068,1,1,1
2023-02-09,1.20980,1.21936,1.20857,1.21046,155485,0.055366,0.426366,-1.914701,0,1,1

#### Pandas condition apply and make some statistics

In [11]:
RULES = {
    (0, 0): 1,
    (0, 1): 1,
    (1, 0): 1,
    (1, 1): 1,
}

In [12]:
df_1['is_bull'] = df_1['is_bull'].shift(1).fillna(0).astype(int)
df_1.tail(20)   # example with shift tomorrow

,open,high,low,close,volume,log_ret,log_ret_5,log_retcum,a_log5,a_log5cum,is_bull
Time,,,,,,,,,,,
2023-01-18,1.22909,1.24355,1.22903,1.23273,212007,0.303853,1.034758,-0.091624,0,1,1
2023-01-19,1.23272,1.23977,1.23126,1.23662,164499,0.315063,1.164752,0.223438,0,1,1
2023-01-20,1.23665,1.24040,1.23350,1.23942,100149,0.226168,1.237230,0.449606,0,1,1
2023-01-22,1.24006,1.24476,1.23971,1.24167,45771,0.181372,1.997805,0.630978,0,1,1
2023-01-23,1.24167,1.24311,1.23231,1.24022,116681,-0.116846,0.909609,0.514132,0,1,1
2023-01-24,1.24021,1.24134,1.22628,1.23291,144841,-0.591155,0.014601,-0.077024,0,1,0
2023-01-25,1.23290,1.24179,1.22828,1.24015,131855,0.585511,0.285049,0.508487,1,0,0
2023-01-26,1.24014,1.24302,1.23441,1.23688,132657,-0.264026,-0.205145,0.244461,0,0,1
2023-01-27,1.23688,1.23993,1.23450,1.23960,88889,0.219667,-0.166850,0.464128,1,0,0
2023-01-29,1.23882,1.24053,1.23760,1.23920,44204,-0.032274,-0.082277,0.431854,1,0,1
2023-01-30,1.23920,1.24173,1.23306,1.23457,114876,-0.374328,0.134550,0.057526,0,1,1
2023-01-31,1.23457,1.23622,1.22838,1.23221,135052,-0.191343,-0.642303,-0.133816,1,0,0
2023-02-01,1.23220,1.24010,1.22719,1.23837,222702,0.498669,0.120392,0.364853,1,0,0
2023-02-02,1.23836,1.23961,1.22016,1.22208,193125,-1.324167,-1.423442,-0.959314,1,0,1
2023-02-03,1.22207,1.22651,1.20471,1.20531,168678,-1.381753,-2.772921,-2.341067,1,0,0
2023-02-05,1.20330,1.20685,1.20301,1.20632,43564,0.083761,-2.314833,-2.257306,1,0,0
2023-02-06,1.20631,1.20771,1.20051,1.20422,150075,-0.174235,-2.297725,-2.431541,1,1,1
2023-02-07,1.20419,1.20948,1.19608,1.20462,262552,0.033211,-2.763183,-2.398330,1,0,0
2023-02-08,1.20463,1.21092,1.20379,1.20979,141168,0.428263,-1.010753,-1.970068,1,1,1
2023-02-09,1.20980,1.21936,1.20857,1.21046,155485,0.055366,0.426366,-1.914701,0,1,1

#### Write a function that calculate return in a specific time range
- maybe start from a highest or lowest in a range
- maybe mean value of a range

#### Composition/Chaining in Pandas (or DataFrame)

In [13]:
# df_1['sma10'] = ta.sma(df_1["close"], length=10)    # no need define close, it automatic using
# # df_1['sma20'] = ta.sma(df_1["close"], length=20)
# # df_1['ema5_ohlc4'] = ta.ema(ta.ohlc4(df_1["open"], df_1["high"], df_1["low"], df_1["close"]), length=5)
# # df_1['ema15_ohlc4'] = ta.ema(ta.ohlc4(df_1["open"], df_1["high"], df_1["low"], df_1["close"]), length=15)
# df_1.tail()

In [14]:
'''
# (1) Create the Strategy
MyStrategy = ta.Strategy(
    name="DCSMA10",
    ta=[
        {"kind": "ohlc4"},
        {"kind": "sma", "length": 10},
        {"kind": "donchian", "lower_length": 10, "upper_length": 15},
        {"kind": "ema", "close": "OHLC4", "length": 10, "suffix": "OHLC4"},
    ]
)

# # (2) Run the Strategy
# df.ta.strategy(MyStrategy, **kwargs)
# '''

'\n# (1) Create the Strategy\nMyStrategy = ta.Strategy(\n    name="DCSMA10",\n    ta=[\n        {"kind": "ohlc4"},\n        {"kind": "sma", "length": 10},\n        {"kind": "donchian", "lower_length": 10, "upper_length": 15},\n        {"kind": "ema", "close": "OHLC4", "length": 10, "suffix": "OHLC4"},\n    ]\n)\n\n# # (2) Run the Strategy\n# df.ta.strategy(MyStrategy, **kwargs)\n# '

#### TA-LIB

In [15]:
# import talib
# import numpy as np
# c = np.random.randn(100)

# # this is the library function
# k, d = talib.STOCHRSI(c)

# # this produces the same result, calling STOCHF
# rsi = talib.RSI(c)
# k, d = talib.STOCHF(rsi, rsi, rsi)

# # you might want this instead, calling STOCH
# rsi = talib.RSI(c)
# k, d = talib.STOCH(rsi, rsi, rsi)